
<ul class="sidebar navbar-nav">
    <li class="nav-item">
        <a class="nav-link" href="~/Vacinacao">
            <i class="fas fa-fw fa-calendar-check"></i>
            <span>Vacinações</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="~/Vacina">
            <i class="fas fa-fw fa-syringe"></i>
            <span>Vacinas</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="~/Paciente">
            <i class="fas fa-fw fa-user-injured"></i>
            <span>Pacientes</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="~/Funcionario">
            <i class="fas fa-fw fa-user-md"></i>
            <span>Funcionários</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="~/Posto">
            <i class="fas fa-fw fa-hospital-alt"></i>
            <span>Postos de Saúde</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="~/Avisos">
            <i class="fas fa-fw fa-exclamation"></i>
            <span>Avisos</span>
        </a>
    </li>

</ul>
